<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="1" value="Cuadrado" />
    <add key="2" value="TrianguloEquilatero" />
    <add key="3" value="Circulo" />
    <add key="4" value="Trapecio" />
    <add key="5" value="Rectangulo" />

    <add key="1" value="Castellano" />
    <add key="2" value="Ingles" />
    <add key="3" value="Portugués" />
  </appSettings>
</configuration>